body {
  position: relative;
  font-family: $copyFont;
  margin: 0;
  background: #bbb; //$bgColor;
  color: $typeColor;
  line-height: 1.3em;
}

// primary site <main> tag responsive styling
body > main {
  margin: 0;
  background: $bgColor;
  & > article, & > section {
    margin: 0 1em;
    padding: 4em 0;
  }
}
@media screen and (min-width: $medWidth) {
  body > main {
    font-size: 19px; 
    line-height: 1.3em;
  }
}
@media screen and (min-width: $desktopWidth) {
  body > main { 
    font-size: 21px; 

    & > article, & > section {
      width: 100%;
      max-width: $desktopWidthRem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
// primary site <footer> tag responsive styling
body > footer {
  width: 100%;
  margin-top: 0.5em;
  padding: 0.4em 0 10em;
  background: #bbb;

  & > p {
    margin: 0.3em 1em;
    color: #555;
    font-size: 0.9em;
  }

  & > h6 {
    margin: 1em;
    font-size: 0.9em;
    font-weight: normal;
    & > mark {
      display: block;
      background: none;
    }
  }

}
@media screen and (min-width: $desktopWidth) {
  body > footer {
    width: 100%;
    
    & > p, & > h6 {
      max-width: $maxWidthDesktopRem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/*

Default Tag Specs

*/
h1 {
  font-size: 1.8em;
  font-family: $titleFont;
  font-weight: 700;
  line-height: 105%;
}

h2 {
  margin-top: 1.3em;
  font-weight: normal;
}

h3 {
  margin: 2em 0 0.5em;
  font-weight: normal;
}

h2 + h3 {
  margin-top: 0;
}

// @TODO h4, h5

p {
  margin: 0.3em 0 0.8em;
}

a {
  color: $linkColor;
  text-decoration: none;

  &:hover {
    color: $hoverColor;
  }
}

li {
  margin-bottom: 0.3em;
}

section ol, article ol, section ul, article ul {
  margin: 1em;
  
  li {
    margin: 1em;
  }
}

section ol, article ol {
  list-style: decimal;
}
section ul, article ul {
  list-style: disc;
}


// @TODO implement proper code styling

code {
  padding: 0.1em;
  background: lighten($bgColor, 4%); //$codeBgColor;
  color: #0F520D; //$codeFontColor;
  font-family: 'Monaco', 'Lucida Console', 'Andale Mono', FreeMono, 'Osaka Monospaced', Courier, monospace;
  font-size: 0.9em;
}

pre {
  background: $codeBgColor;
  display: block;
  padding: 0.4em;
  overflow: hidden;
  font-size: 0.8em;
}

pre > code {
  color: $codeFontColor;
  background: none;
}

pre .content {
  color: $codeContentColor;
}

