#masthead { /* wrapper for fixed positioning */
  position: fixed;
  top: 0;
  width: 100%;
}
#header { /* contains the h1/logo and burger label */
  position: relative;
  width: 100%;
  background: #333;

  @include box-shadow(0, 2px, 2px, 0, rgba(0,0,0,0.2));
  @include transition(all, $menuSpeed, ease-in-out);

  & > h1 {
    width: 100%;
    height: $menuHeight;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    background: black;

    & > a {
      display: inline-block;
      width: 115px;
      height: 32px;
      margin: 0.5em 1em 0 0.8em;
      // @TODO make this in-line data with an auto plugin
      background: url(../img/chadzilla-logo-alt.png) no-repeat;
      background-size: contain;

      & > span { display: none; }
    }
  }
}
#nav {
  overflow: hidden;
  width: 100%;
  max-height: 0;
  padding: 0;
  background: #333;
  vertical-align: top;

  @include transition(max-height, $menuSpeed, ease-out);

  & > ul {
    list-style: none;
    width: 100%;
    margin: 0 0 0;
    padding: 0;

    & > li {
      margin: 0;
      padding: 0;
      vertical-align: middle;

      & > a {
        display: block;
        margin-bottom: 0.4em;
        padding: 0.8em 1em;
        color: white;
        background: #444;

        &:hover, &:focus, &:active {
          color: white;
        }
      }
    }

  }

  

}

#burger {
  display: none;

  &:checked ~ #nav {
    max-height: 25em;
  }

  &:checked ~ #header {
    @include box-shadow(0, 2px, 22px, 0, rgba(0,0,0,0.7));
  }
}

#burger-trigger {
  float: right;
  margin: 0.7em 1em 0;
  width: 32px;
  height: 20px;
  // @TODO make this in-line data with an auto plugin
  background: url(../img/menu-alt.png) no-repeat;
  
  &:hover { cursor: pointer; }

  & > span { display: none; }
}
