@media screen and (min-width: $maxWidthDesktop) {

  #header > header > h1 > a {
    margin-left: 1em;
  }

  #burger-trigger {
    display: none;
  }

  #nav {
    max-width: 75%;
    max-height: none;
    background: none;
    position: absolute;
    //top: 1em;
    right: 1em;
    z-index: 2;

    & > ul {
      text-align: right;

      & > li {
        width: auto;
        display: inline-block;
        //padding-left: 1em;

        & > a {
          background: none;
        }
      }

    }
  }
}


