/* reponsive size variables */
$maxWidthDesktop: 47em;
$maxWidthDesktopRem: 44rem;
$medWidth: 30em;
$desktopWidth: 47em;
$desktopWidthRem: 44rem;

/* main bg */
$bgColor: #e7e7e7;
/* fonts */
$titleFont: 'PT Sans', Helvetica, Arial, sans-serif;
$copyFont: 'PT Sans', Helvetica, Arial, sans-serif;
/* text colors */
$typeColor: #000;
$linkColor: #2577A1;
$hoverColor: darken($linkColor, 20%);
$codeFontColor: #B8FFBA;
$codeContentColor: #E8DD83;
$codeBgColor: #222;
/* Menu/Animation variables */
$menuHeight: 2.4em;
$menuOffset: -10.4em;
$menuSpeed: 0.2s;

@import "mixins";
@import "reset";
@import "defaults";
@import "masthead";
@import "queries";

.article-listing {
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    margin: 0 0 1em;
    padding: 0;
    font-size: 0.8em;

    & > h3 {
      font-size: 1.5em;
      margin: 0;
      padding: 0;
    }
  }
}

/*
--------------------------------------------------------
social navigation icons

*/
.social {
  margin: 0;
  padding: 0.3em 0;

  & > a {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 0 0.4em;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(../img/social-icons.png);
    background-repeat: none;

    &.linkedin {
      background-position: 0 0;
    }
    &.twitter {
      background-position: -40px 0;
    }
    &.flickr {
      background-position: -80px 0;
    }
    &.vimeo {
      background-position: -120px 0;
    }

    & > span { display: none; }
  }
}
@media screen and (min-width: $maxWidthDesktop) {
  .social {
    margin-left: 2em;
  }
}

/*
--------------------------------------------------------
aside styling (article, project subnav)

*/
aside {
  padding: 1em 0 2em;
  background: #ddd;
  font-size: 0.8em;

  // columns: recent|archives|tags
  & > ul > li {

    & > h3 {
      width: 100%;
      margin: 0;
      padding: 0.5em 1rem 0;
      font-weight: normal;
    }
    & > ul {
      margin-bottom: 1rem;

      & > li {
        margin-left: 1rem;
      }
    }
  }
  li {
    margin: 0;
  }

  h3 {
    margin-top: 0;
  }
}
@media screen and (min-width: $desktopWidth) {
  aside > ul {
    width: 100%;
    max-width: $desktopWidthRem;
    margin: 1em auto;

    & > li {
      & > h3 {
        width: 100%;
        margin: 0;
        padding: 0;
        font-weight: normal;
      }
      & > ul {
        //margin-bottom: 1rem;

        & > li {
          margin-left: 0;
        }
      }
    }
  }
}