---
title: Guide to Taking a Traveling Off-Year or Sabbatical
desc: Guide to Taking a Traveling Off-Year or Sabbatical
keywords: 
---

h1 Introduction

h2 What This is About

/ p 
/   strong [REWRITE<] 
/   | In 2008 my wife and I decided that since we were moving from the west coast to the east coast and quitting our jobs in the process, that we'd do some traveling in-between locations.
/   strong [>REWRITE] 

p This mini book is a how-to guide for planning and taking long-term vacations from work and everyday responsibilities. 

p In 2009 my wife and I were going to move from San Francisco to Atlanta. We were both leaving our jobs and knew that once we left San Francisco, we'd temporarily have no responsibilities or roots. I'd been wanting to take a slow trip through southwestern Europe and this seemed like a good opportunity to do it. It took a bit of planning, a lot of saving money and most importantly the strength to make the decision. In the process of planning the trip, getting ready to move and then making the trip, we learned a lot about how to take an extended trip like this.

/ I refer to it as a sabbatical although in the strictest definition of the word it is not a sabbatical since we did not return to our previous jobs. Whatever. I call it a sabbatical because for us, it was a sabbatical from daily/normal life in the U.S which is really the most important factor.

p We decided to put this long article together in the hopes that what we've learned may help people in the future to take a trip like this. For us it has been one of the most  amazing and educational experiences of our lives. The trip was such a great experience for us that we always encourage people who have the inclination to take their own sabbaticals.

p We planned our trip to last nine months but you may find information in this book useful if you are planning a shorter or longer trip &ndash; whether it's a sabbatical or shorter vacation. During our later 5-week trip to Paris in 2013, I found much of this information relevant despite the shorter length of the trip.

p 
  | The rest of this book will be divided into three sections: 
  a(href="#before") before
  |, 
  a(href="#during") during 
  | and 
  a(href="#after") after
  |. In other words, planning your trip, habits and actions during your trip (and dealing with unforseen circumstances) and then processing your trip once it's done. We'll conclude with a notes section with links to sites and documents which may be helpful for your trip from planning to end.

h2 Who are We to Write This

p So what gives us the knowledge to write this book and why should you read it? We are both avid travelers and avid planners. We've traveled extensively in the U.S. and outside of it and we've both lived outside the U.S. We research extensively for travel. Before we spent three weeks in Italy in 2007 I spent roughly 40 hours researching where to go, where to stay, what to see and what to eat and I made maps to take with us so we could spend our time away enjoying ourselves and not worrying about logistics or figuring out where to go. And we had a blast. Our travel experiences and feedback from people who've traveled with us have given us the confidence to feel capable of giving travel advice and writing a book like this one.





h1 Before

h2 Decision

h3 Hardest part
p This is no simple decision and possibly the hardest part of the whole extended trip. Think seriously about whether you want to do this or not and what it entails. There are many decisions to make, problems to resolve and issues you'll face on the trip and if they all sound like a lot of trouble, you're going to have a rough time of it.

h3 Make it, stick with it
p Once you've made the decision to take your sabbatical be unfaltering in its support. Stick with it. It's going to be a great time but it requires a lot of effort to complete and the decisions and efforts you'll make will require your full support. From the time you tell your first friend or relative of your trip and well into your trip you will hear a wide variety comments about your decision. Many will be positive but you'll hear plenty of comments like "we couldn't have made that decision" or "that sounds extravagant" and other comments which could upset your faith in your decision if you take too many of them to heart.

h3 Appropriate timing
p It may sound obvious but consider the timing of your trip. If you just bought a house or you just got pregnant or you decided to complete your Ph.D. this year, now is not the time for your sabbatical.

h4 A note about financial status
p If you have very little or no money in savings, you either have to postpone your trip until you do, or take a trip that is paid for by other people, whether it's through some sort of volunteering or a rich uncle. There's no reason to go into debt considering the kind of expenses a trip like this entails. The last thing you want to do is saddle yourself with financial problems when you return to "normal life."

p We were able to pay for this trip because we'd saved a decent amount of money to buy a house in the San Francisco Bay Area and after deciding to move somewhere real estate is cheaper, we figured we could eat into our savings a bit. Oddly enough, the collosal economic downturn that followed our decision made it easier since housing prices collapsed. One could take the economic problems as a sign to cancel the sabbatical and let the future uncertainty cast a cloud over one's decision to sabbatical. We did not. We looked at it as lower house prices when we returned. Find the silver lining.

p By the way, there are a lot of great reasons to save money but this is one of the best and most rewarding.


h2 Picking Locations

h3 Where do you want to go?

p This part was easy for us because I had been thinking on-and-off about how nice a leisurely trip through southwestern Europe would be. I had been thinking of a trip following an arch with endpoints in Portugal and southern Italy and curving through Spain and up into France. So we didn't have to think about where we really wanted to go.

p Nonetheless, there are a variety of factors to think about when planning where you'll go. Some of them are just things to note or require some pre-trip planning whereas others are things which may cause you to alter your trip time or locations.

h3 Visas and such

p 
  |Do some research on this to find out what the requirements are for where you are going and your expected length of stay. You may need to do nothing or you may need to apply for a tourist visa. Check the 
  a(href="http://www.doyouneedvisa.com/") Do You Need a Visa site 
  | to get more info.

p For us we did a relatively large amount of research because we knew that we'd be staying in each country for less than the 90 days (usually) after which a tourist visa is required (sometimes). However, we'd be in the European Union for longer than six months which seemed, initially, to require some sort of visa preparation. Fortunately for us, there didn't seem to be any kind of policing of how long you spend in the EU. In the end we didn't need to worry about visas or other documents.

h3 Language

p In some countries not speaking the local language is not much of a hinderance. In the big cities of Portugal, for instance, many people speak great english. On the other hand, taking an extended trip to isolated parts of China without any familiarity with the language could cause you a world of pain.

p Conversely you may choose to visit a country (or countries) where you can study a language you wish to learn or practice one you've studied before. This is what we did in Spain &ndash; we spent four weeks studying Spanish in Barcelona at the beginning of our trip. Knowing some of the language and being conversational in it (barely) made our trip more fun. It also gave us something productive to do during our time in Barcelona but more on that later.

h3 Ease of travel, transport

p Think about and research transportation in the areas you'll be visiting. If, for example, you were to visit Europe, you probably already know public transportation is excellent and you can get just about anywhere from anywhere else relatively quickly (speaking in relative terms of course). But what you may not know is that it can get quite pricey. Don't sign yourself up for 20+ hours of traveling per month if that's not something you enjoy or if you aren't prepared to spend a pretty healthy amount of money on transport. Plan ahead and you'll find good prices. Wait til the last minute and you'll pay heftily. Fortunately the more comfortable train systems in Europe are having to complete with low-cost airlines so you can get a reasonable price on a longer train ride. 

h3 Weather and time of year

p If your trip timeframe is short enough, define it in such a way that you experience the weather you prefer in your travel locations. We decided to start traveling in early Spring so that we could do our best to avoid cold weather. Think about what time of year you want to be in certain regions of your trip's itinerary and alter your trip accordingly if necessary. If you want to get some nice beach time in the southwest of France, don't plan on being there during December. Unless you like cold beaches.

p Consider time of year for your travel for other reasons as well. If you really want to see the spring blooming in some location, then mark that location and timeframe and build your itinerary, or a part of it, around it. On the other hand, work around events/timeframes you want to avoid. If you want to experience a bustling and beautiful but not to hot Paris, then don't go in or around the month of August.

p Do your research and planning to see what you can work out so you are not surprised on your trip and don't end up making unnecessary sacrifices or having a bad time for lack of proper planning and understanding of weather and culture cycles.

h3 Cost

p How you choose your location(s) for your trip can be affected by costs. If you have a very small budget but want to maximize your time traveling then you probably don't want to plan an extended stay in a place like London or Tokyo. You will get more bang for your buck in places like Portugal or Central or South America. Obviously you have to make your own decisions here, and possibly sacrifices, but keep cost of travel living (and not just cost of living) in mind when you determine your travel path.

h3 Personal connections

p One way to save money on your trip is to mooch off friends and family who live in the places you'll be visiting. You shouldn't plan on this accounting for too much of your time because (a) mooching too much isn't nice and (b) you're taking a sabbatical for a breath of fresh air and spending it with friends and family isn't exactly how you do that. However, it can save you some money and give you a break from some of the aspects of traveling if, at some point, you need a break (it's possible, it happened to us).


h2 Thinking About Finances

p While there are few of us who enjoy thinking about our finances it's important to have some idea about what your trip is going to cost you and to have some range of how much you can and want to spend (which probably aren't the same numbers). Define your expected range of what you want to spend and then define a second high end to the range for just-in-case situations. In other words, if you decide you can spend between 15 and 20 thousand dollars, determine if, under special circumstances you could allow the range to go up to 25 thousand dollars. There are plenty of variables which can and will affect your trip spending and it's best to have some flexibility in your budget numbers.

h3 Budget planning

p Budget planning sounds boring and nerdy but it's very important for not only defining and fine-tuning your spending range but setting expectations for your daily, weekly and monthly spending habits. Start by making a list of expense categories. Then, to the best of your estimating abilities, define some numbers for monthly spending in those categories. Don't worry about these numbers being perfectly exact, they won't be. You're just looking for starting points for working out your budget.

p Your goals for this exercise are several. The most important is determining how long you can stay on your trip at your expected spending rate. If you expect to spend 100 dollars a day and you have a maximum of 10,000 dollars to spend then your trip is going to be no more than 100 days and certainly less if your budget has to include your transportation to and from your trip location.

p The other goal for this exercise is to determine daily and monthly spending expectations. These numbers are important for planning how you'll spend money on your trip, for setting a range for your lodging costs and setting some limits in your mind on spending so that as you progress through your trip you have these numbers available to influence your spending habits.

p For making this plan it is best to use a spreadsheet. You could do this on paper but using spreadsheet software has obvious benefits. I used Google docs to maintain my spreadsheet.

p At a minimum you want to define a column of your monthly expense categories and then fill in your best guesses for these numbers. In other words, you could have:

ul
  li rent/lodging
  li groceries
  li eating out
  li transportation
  li entry fees (museums, etc)
  li household
  li entertainment
  li telecom
  li medical

p To make your planning more useful, you could make monthly estimations for a variety of your expected locations (presuming your trip involves staying in more than one location). This makes it easier to make your estimates and having a few sets of monthly estimates can make your averages a little more accurate. For instance, if you planned (like we did) on spending a month in Paris and a month in Lisbon, you would expect to have different numbers for each city (Lisbon is much cheaper than Paris). On the other hand, if you were to spend four days in Lisbon and a month in Paris, it's fairly certain that your daily spending would be lower in Paris since short trips tend to have a much higher daily spending base. Your lodging is likely to cost more and you are more likely to eat your meals out.

h3 Expense tracking

p Tracking your expenses is important for seeing how your real expenses match up to your planned expenses. If your real numbers end up being higher than expected you could have to end your trip early. But, if you track your expenses well, you may be able to alter your spending habits and/or your itinerary to compensate without having to shorten your trip.

p I'll get into more details about expense tracking later but you should plan on having at least a small notebook for writing down all your expenses (cash and credit card). Ideally you'll have this notebook as well as something on the computer/in the cloud. I made my own web-based expense tracking software I used on my laptop but you could just as easily use a spreadsheet. It's up to you. Or you could use accounting software. The more appropriate for expense tracking your software is, the better you'll be able to run interesting reports and see how your trip expenses pan out. With the software I used, I could see how much we'd spent in each location and the daily spending averages for them, how much we'd spent per category, etc. This was very interesting as well as useful for making future plans and making recommendations to others about where to stay and what things cost.

h3 Bank accounts

p If you have two checking/debit accounts you can use during your trip, they will come in handy although I wouldn't suggest opening a second account just for the sake of this trip. We already had two accounts, our primary checking as well as a secondary checking I'd set up in the past for tracking freelance expenses. The big benefit here is when you need to take relatively large amounts of cash out in a short period of time for paying rent or other big cash expenses, it's easier to do.

p I probably wouldn't have even thought about it had I not already had two accounts but it was very convenient for our trip.

p Be aware that you can probably contact your bank and have your daily ATM withdrawal amount increased but this has the risk of allowing thieves to take more money out of your account faster if your card is stolen. And depending on your financial institution changing this limit may or may not be easy to do from a foreign location.

p Note your daily withdrawal limit and what that means in your local foreign currency.

h3 Paying in cash

p Chances are wherever you go you may end up paying most of your bills in cash. Expect this and do your research so you aren't caught trying to pay with a credit card when it is not possible. If you aren't from the U.S.A. this probably is not news to you.

h3 Cards up to date

p Check your expiration date on your debit card and credit card. If any are to expire while you are gone (or very close to your planned return date) you should contact your bank and get them to issue replacements. This isn't something you want to deal with when you're overseas.

h3 Notes to your finance companies

p You may wish to contact your financial companies and tell them of your plans to be out of the country and the dates you expect to be gone. This way they can flag your account so that they don't put a hold on your cards when they see foreign transactions.


h2 Insurance and Health

p I think the Boy Scout motto of "Be Prepared" is worth mentioning here. Or "it's better to be safe than sorry" which, I suppose, is the whole point of insurance. Insurance is gambling so do what you think is best for you. If I had done this in my twenties, I probably would not have cared about insurance.

h3 Property insurance

p Presumably you have property insurance. I'm not going to cover why you should here. Look into how your goods are covered and any limitations your policy might have for when you travel. If necessary you can purchase travel insurance which, in some cases, will cover your goods. It was unnecessary for us thanks to good existing coverage. Make sure your things are covered while you're traveling so if you have any problems (theft, loss) you aren't going to have to shell out a lot of money or end your trip prematurely. 

h3 Health insurance

p If you're not a U.S. citizen this next part may seem weird to you. U.S. citizens may want to maintain an insurance policy while you're gone. This may seem silly but if you let your insurance lap when you're gone, you could have great difficulties getting insurance when you return. Depends on your situation.

p Additionally, your regular U.S. health insurance will probably not provide much coverage to you overseas and oftentimes, it will cover major emergencies but not the kind of issues you are more likely to have when you are traveling (like getting a broken finger, or having an allergic reaction and needing some medicine, etc). You can purchase health insurance for travelers at fairly reasonable prices. It's worth piece of mind to do this. Do your research here and if you have the option of asking experts who work in this field (such as human resources workers) who can help you make decisions, by all means contact them for their suggestions.

p That said, don't freak out. If something happens to you overseas you may get treated better than you would in the U.S. and it won't be expensive. It depends on where you're going as far as what you'll find. Our health experiences overseas, and we've had a few, have all been great except for the obvious fact that we would have preferred not to have them at all.

p For non-U.S. citizens traveling in the U.S. for a long period of time I would highly suggest getting a travel health insurance plan specifically for the U.S. As you may have read, having a health issue requiring moderate or serious care can cost you unbelievable amounts of money and your universal health care at home isn't going to help you. Do some research and insure yourself accordingly. Unfortunately I cannot help you too much here since this situation is not something I needed to look into.

h3 Travel insurance

p If you research travel insurance you'll see that it often refers to the insurance you buy in case something out of your control affects your travel plans. For example, you're in an accident at home and are unable to fly out on your expected date. Travel insurance will protect you from losing your money you spent on a ticket and hotels you may have reserved and other services travel-related you may have purchased. I'm not sure of all the details here as I have never purchased it but it could be something you wish to look into depending on how protected you want to be. Personally, it's not for me. 

h3 Be prepared for theft or loss

p I think travel horror stories are sometimes exaggerated in proportion to the amount of traveling that happens horror story-free. Nonetheless, it is best to be prepared for problems. This is why I suggest you deal with your property and health insurance during your trip. Additionally, it is wise to think about what would happen and how you would react if unforseen problems arise. What would you do if your wallet was stolen? What would you do if someone broke into your hotel room (or apartment) and stole all of your stuff? These are important things to think about so that why you'll certainly be unhappy if they do happen, you'll at least have a rough idea of how to deal with the situations should they arise.

p Take whatever precautions you can ahead of time and while you're traveling. Don't bring something with you that is not replaceable. Have a plan for backing up your trip photos (to media, online, etc). Make sure you bring your information for your financial and insurance companies so that you can contact them if there are problems. I had this information with me on a piece of paper, on my laptop and I stored it (securely) online so I could dig it up no matter what happened on the trip.

h4 Document your travel goods

p Make note of everything you bring with you on your trip so that if the worst happens, your claim to your property insurance is easier to make. Make a list of all items with their values and store it securely, in multiple places (as I mentioned before, printed, online, etc). Take photos of all your property you're traveling with. You can probably just set everything out on the floor and take just a few photos to document it all. Take all this data and make sure that you've left a copy of it in the U.S. with some family or friends (or both, redundancy is good here).

h4 Online backup

p For those of you less engaged with technology, you might just skip this part. For those of you who take lots of digital pictures, store lots of information about your trip on your laptop or mobile device and generally have a bit of digital data that needs protecting, you should have a plan for how to keep this data safe and secure during your trip.

p In addition to storing my financial information securely as I noted before, I setup an account on my web server for backing up all of the photos we shot during our trip. I would backup to the server as often as I could (we didn't always have internet access) and my father would download files to a drive back in the U.S. This way our photos were well protected. The only problem here is that it was a tremendous amount of data and keeping everything backed up was difficult. Having the photos backed up this way gave us piece of mind.

p Whatever solution(s) you choose, just be sure to have a plan to keep your data as secure as possible. I'll have more specific suggestions here in the resources section.


h2 Itinerary Planning

p We all have different tendencies for spontaneity in life and in travel but it's pretty likely that if you are considering a long term trip like this, you probably have a least some little tendency for spontaneity in your blood. Wherever you fall in the scale here it's beneficial to write out an itinerary for your trip so you can digest it, think about it, discuss it, and modify it to your liking as the trip approaches (and even into the trip).

p I've already discussed your decisions related to the itinerary in the Picking Locations section but there are a few additional things worth mentioning when it comes to actually jotting down a semi-detailed outline of your travel plans.

h3 Fewer places longer versus more places shorter

p There are many types of travelers. There are people who like to see all the things listed in guidebooks versus people who just want to let the wind blow them to new locations and see whatever happens to come their way. There are people who need to jam-pack their itineraries with things to do and people who just want to relax and get a break from everyday life. Chances are, you fall somewhere in-between on that scale.

p You probably already have a natural tendency toward either seeing more places on your trip and therefore spending a little more time actually traveling from one place to another or toward spending more time in each location and visiting fewer locations. Obviously seeing more locations means you see more things, whether they are guidebook types of things or not. Seeing fewer things means you are likely to learn more about the places you do visit than the aforementioned kind of person but there will be places you miss out on.

p Our trip consisted of a little of both kinds of schedules but as it progressed we ended up visiting fewer locations for longer. After time, we became a bit tired with the moving around and repacking and unpacking.

p There is nothing wrong with being either kind of person. Just be aware that, excluding the travel benefits to either method, there are some practical things to consider, most of which are fairly obvious.

p If you travel to fewer places for longer periods, you will save money (all other things being equal of course). Your rent will be cheaper since you can pay for apartments by the week or month. Your eating will be cheaper if you cook at home. You will get to know the public transportation better and be able to move around more freely. You'll get to know the neighborhoods near you and learn where to shop &ndash; for groceries and other necessities &ndash; to get the most bang for the buck. And you'll spend less on traveling. You're also less likely to have to live out of your backpack (or suitcase) so you'll probably be a little happier about that.

p As you can tell, this is the kind of traveling I prefer and I think, for the most part, the kind of traveling more suited to a sabbatical.

p That is not to say you shouldn't move locations more frequently and see more places. During our travels we met people who were doing the "around the world" trip in the same amount of time we were seeing only four countries. From the money saving and logistics standpoint there really aren't benefits to this kind of travel.

h3 needed versus wanted amenities

p 
  strong [WRITE THIS]


h2 Packing

p A long trip will involve plenty of traveling around and specifically transporting your stuff. How and what you pack is crucial. Pack as light as you can. And by "light as you can" I really mean, pack lighter than you ever have before in your life. You will be glad you did.

h3 As light as possible

p Seriously, pack as light as you can. After you make your first packing list, cut it in half. You don't need all that stuff. You're traveling not putting on an international fashion show. A little consumerist inconvenience for the sake of traveling convenience is a good thing. I take the same pack of stuff on a 3-week trip as I do on a year-long trip. It's refreshing how little you need to be happy.

h3 Study packing lists online

p There's a sample packing list in the resources section but do some research online to see what other people bring when traveling. Look at backpackers' packing lists as they tend to travel lighter than people with suitcases. Eliminate all the stuff you won't need (like a tent or a sleeping bag).

h3 Make a list

p Get out a piece of paper or use your computer to make a preliminary list of what you're bringing. Go through it in detail and eliminate anything that you really don't have to have.

h3 No duplicates

p Do not bring duplicates. For instance, if you are traveling where you'll be wearing sandals and or sneakers every day, you don't need to bring dress socks. If you do need dress socks just in case, bring only one pair. You're not holding a fashion show and noone will notice if your socks aren't the perfect color or if you wore them on more than one occasion before washing. Do you need two pairs of jeans? No, not unless you're going somewhere jeans are all that you'll ever wear. Do you need a pair of dress shoes if you expect to only wear them once or twice? No. Make sandals your dress shoes if possible. They're lighter and don't require socks. Do you need two fingernail clippers? No, you and your partner can share. I think you see where I'm going with this. Lighter is better. Just think about that when you're going up and down and up and down stairs in the Paris metro. Any lost weight is good lost weight.

h3 What do you really need?

p It may sound like I'm beating a dead horse here but I speak from experience and having gained one or two injuries on occassion from carrying too much (3KG of Oaxacan chocolate will do that to do).

p Think about what you really must have on the trip and eliminate everything else. Then eliminate more.

h3 Technology

p After all this discussion about not bringing anything that is not essential let's talk about some important non-essentials. If you want to document your trip, you'll probably want a camera. If you want to keep in touch with people back home, a laptop or tablet is not essential but useful. A mobile phone is not essential but it's helpful, especially if you aren't traveling solo and you and your partner want to be able to communicate when you're not together. Actually, a mobile phone is pretty much essential these days.

h4 Cameras

p Let me start off by noting I'll be covering only digital cameras here. If you're using film you're an odd beast these days and I'll leave you to your own efforts to determine the best way to travel with your gear and film.

p If you happen to own a digital SLR, which by nature is bigger and can have more parts (additional lenses, etc) than a point-and-shoot camera, then you are going to be carrying more weight if you bring it with you. Personally, I would suggest that unless photography is a great hobby of yours, you use your mobile phone camera since you will be able to carry less and have your gear take up considerably less space (this presumes yours is good enough to make you happy). If you do bring a digital SLR, then consider carefully which gear you bring and keep it as minimal as possible. If you are the type of person who cleans the camera sensor (or is willing to learn) definitely bring your cleaning gear (or buy some while traveling) as it's very likely you'll need it during your trip.

p If you are carrying a camera that uses media cards for storage, make sure you have plenty of extra cards with you, especially if you have no way of backing up your photos.

h4 Laptop

p I'm sure you have a preference already for bringing or not bringing a laptop with you on your trip. If you are considering bringin one here are some relevant notes.

p If you are buying a new laptop for the trip, go for lighter and smaller one versus a more powerful one with a big screen. If you will only be using the laptop for checking email, browsing the web and backing up your photos (but not really editing them), then leave the laptop at home and stick to your mobile device or bring a tablet. I don't bring my laptop unless I know I'm going to want to do personal work that requires it. I bring a tablet so I can read and handle communication a little easier than on the phone. 


h4 Mobile phones

p For many reasons, mostly obvious, it's useful to have a mobile phone. If you are traveling as a pair it's best to have two phones for piece of mind. A second isn't entirely necessary but it's helpful if you get separated. Since your trip will be long, there will be times when one of you wants to do something the other doesn't and in these instances it is also helpful to each have a phone. Prepaid mobile service in most countries is cheaper than it is in the U.S. so it generally won't cost you much to have this piece of mind.

p However, you should be aware that if you have a U.S. phone that is locked to a carrier (like AT+T or T-Mobile) your phone will need to be unlocked in order to work with overseas SIMs (the card that a mobile provider puts in your phone to give it service). On the plus side, getting a cheap phone for calling and SMS (text messages) only is generally quite cheap. In most places where I've looked, you can get an unlocked phone for around $30 or less. This may be easier than dealing with unlocking your U.S. phone. Or, if you have a Sprint or Verizon phone, then your phone won't work with SIMs (GSM technology that most of the rest of the world uses) anyway and you'd need a different (GSM) mobile phone.

p 
  strong {UPDATE}
  | If you need data service on your mobile when traveling that is a little trickier. For one, it requires that your phone have some preferences setup for the network you're using. This normally isn't a problem but if you don't speak the local language when you're at a phone store, it can be a bit of work to get things running. They should be able to send a text message to your phone that auto-configures it for internet access but I didn't use data so I can't fully confirm this. Also, in some cases, prepaid service for data can be expensive. It really depends on where you are and the service you're getting.
  strong {-UPDATE}







h1 During

p Hooray! Your sabbatical has started (or you're pretending it has &ndash; just as well). On a long trip like this, you can expect to have ups and downs and I hope this part of the book will help you deal with whatever may happen on your trip.

h2 Finances During Your Trip

p Financial planning and issues are important in both the planning phase of your trip and during your trip since unforseen financial problems or poor financial behavior during your trip can ruin the trip or end it ahead of schedule. We certainly don't want that.

h3 Getting cash

p In most of the world, you're going to need cash for just about everything you buy, whether it be a service or a good. In more tourist-driven locations you'll be able to use your credit card more often but, as is discussed elsewhere in abundance, you'll get better rates using your ATM card and cash. In many cases, paying with a credit card is impossible. And in other cases, paying with cash will get you a discount (sometimes under-the-table but whatever works).

p Since you'll be carrying cash around, be smart about how you carry it and where you get it out. Take note of cash machines and choose the ones located at the bank whenever possible. Pay attention to the card slot to see if it's been modified with the devices theives use to read your card's information. All the usual advice follows here. Be alert and aware and smart about things and you're less likely to have problems.

p I've done plenty of traveling and only had problems twice. The first time was in Mexico when the cash machine had been fiddled with (I didn't notice it) and after we returned to the U.S., unwanted transactions started showing up on my account. This was easy enough to resolve with a call to the bank. Nonetheless, if i'd heeded my own advice I probably could have avoided this problem.

p The second problem I had was in Sevilla, Spain. I was dumb enough to be carrying 100 euros (two 50s) in my shirt pocket with the pocket unbuttoned. A girl carrying a clipboard asking for signatures and donations came up to me and harrassed me for a while, despite me saying "no" repeatedly, and got abnormally close to me (first sign) and kept hounding me (second sign) then held the clipboard up as close to my face as possible, hiding my shirt pocket from my view (third sign). Believe it or not, after all those signs I just noted, I still wasn't alerted to the fact that she was trying to rob me. I felt her hand reach into my pocket (fourth and most obvious sign) and then pushed her clipboard away and grabbed the two 50s from her hand.

p I was very lucky. If she had been slightly better or quicker, I'd have lost out on a good chunk of money. My point here is that I believe travelers' warnings about theives being everywhere are a bit exaggerated and generally while traveling you will be safe. However, you should pay attention to all the warnings and be on your guard when traveling, especially when you're carrying your gear because it doesn't hurt to be on your guard. That doesn't mean you should be paranoid. Just be alert and you should be fine. And remember, sometimes stuff happens and is unavoidable. That's why you have insurance.

h4 Planning ahead for rent

p Rent is probably the biggest expense you'll have and the only time you'll need to have a serious wad of cash with you. It can be, at times, problematic to get a large amount of cash out. This is why I mentioned the convenience of having a second debit/atm card account. For rent you may have to resort to getting cash out several days in a row so be aware of when you need to pay rent. Do the math considering your daily maximum withdrawal and the currency conversion rate and start withdrawing cash as early as necessary. And because you may have to store a large amount of cash for a few days, stash it as best you can to keep it away from theives.

p You may think after reading that last paragraph that maybe it's best to find places to stay that accept credit cards. That sounds wise at first but my experience has been that in apartments where I had to pay cash I almost always got a better deal, more bang for the buck. If you're paying with a credit card, you're generally paying a premium.

h3 ATM rates

p
  strong {CHECK THE INFO BELOW}

p Not all foreign cash machines will give you the same exchange rate. When you're in a location where you'll be staying for a while, you may want to try out different cash machines from different banks to see how the rate changes. Of course, if there are several days between transactions then universal rate changes could affect your specific transactions. But, presuming you have a decent bank that doesn't tack on charges to your transactions, you could get a smaller amount out and do that a few days in a row to see what different banks charge you. If you do have a bank that tacks on fees for foreign transactions, you should get a different bank.

p Of course, you have to have online account access in order to see the final rates you're getting so if for some reason you don't have online account access &ndash; either your bank doesn't have it (unlikely, i know) or you don't have internet access at your travel location &ndash; then you will have difficulties checking this information.

p As general advice I'd say that the smaller credit union-type banks overseas have generally always given me fair rates. Even the bigger banks have given me decent rates. Really this whole section comes from just a few bad experiences, most notably with Santander bank in Spain, which gave me an unbelievably lousy rate which cost me something like 40 USD on a 300 USD withdrawal.


h3 Expense tracking

p As mentioned before, you should have a small notebook for tracking your expenses. Write everything down &ndash; local cash purchases, stuff you pay for online (like a brief hotel stay) and stuff you may split the cost for, like shared expenses with relatives who come to visit. And keep that notebook safe.

p Second, if you have a laptop or appropriate mobile device, you can keep track of your expenses digitally. This has the added benefit of being able to categorize your expenses and run reports so you can see how you are spending (or spent) money. I built a simple web-based application (I needed something to do when we were in Lisbon while Juli studied Portuguese without me) which we used. Some of the things it allows us to see are:

ul
  li expenses by category
  li expenses by location
  li expenses by date range
  li daily expense average by date or location
  li expense totals

p You could use a normal accounting program and I'm sure there are expense tracking applications you could also use (both for laptop and for mobile devices). One thing that is difficult unless you have a really great expense app is currency. If you're traveling somewhere that the currency doesn't change this isn't an issue (as it wasn't for us). But if you're traveling somewhere you'll use multiple currencies this gets a bit more complicated. I'm not sure how expense apps handle this (i'm sure many don't) but it's something to be aware of. I'm just glad we didn't have to deal with it.


h2 Spending Time Together

p 
  | If you're traveling alone feel free move on to the 
  a(href="#") next section.

h3 A whole lot of time together

p You'll be spending tons of time together and it's likely not something you're not used to in your normal daily life back home. Sure, you think you've spent lots of time together before but really, it's nothing compared to sabbatical time. This took us a while to get used to but it has had the benefit of making us closer. Hopefully for you it will have the same affect. Since it's certainly possible it could have the opposite affect, you might want to consider who you take your sabbatical with. 

h3 Consider this in apartment selection

p While for a short stay a tiny studio may be acceptable, you should consider that all the time you spend together is going to have an affect on you and you will want to select your apartments accordingly. Think of how you'd feel staying in a hotel room for a month, even alone. With another person it gets pretty tight. For longer stays, it's best to have a separate room so that if one of you needs some alone time, you can have it. Also, do your best to get two key sets to your apartment. This allows you both to move freely apart without having to worry about syncing up to gain access to the apartment.

p The other thing you should consider in your apartment selection is proximity to stuff to do. This way, when one of you (or both) needs to get out and do something, it's easier.


h3 Alone time

p 
  strong {REWRITE}
  | Different people have different needs for alone time but it's pretty likely that you both have at least some need for alone time and if you don't want to drive each other nuts on the trip, it's important that you plan on spending some time alone. 
  strong {-REWRITE}

p This can happen either out of or in the apartment if you're staying in a place with more than one room. However, alone time is one of the reasons I suggest getting two sets of apartment keys when you can and having a mobile phone each. This gives you the best flexibility for spending your time as you like.

p Alone time can be as simple as a walk around town, a trip to a museum or a ride on public transportation. If you don't speak the local language, it's pretty easy to feel isolated (in a good or bad way) in the middle of a crowd. For me it was easy to get alone time going to the markets since I'm generally the one who buys food and cooks. For my wife it was a bit more difficult at times but it was just as easy for me to leave and go have a beer or walk around time to give her some alone time at the apartment.

p However you decide to work it out, you will become more aware of how much alone time you need during the trip and if you are denied it too much, you'll become aggitated. Get in your required alone time so you can enjoy your trip and fend off crankiness.


h3 It gets easier

p There were times in the initial part of our trip where one of us (or both) got to the point of demanding some alone time. This was especially noticeable when we stayed in smaller apartments and when we stayed at a place for a shorter period of time when we were likely to spend the most time together. There were some rough moments. However, as time passed, it got easier to recognize each other's needs and we became more comfortable with spending so much time together. When we had rough issues they were usually caused by something else (like those little mosquito bastards).


h2 Something To Do

p Generally when many of us are on vacation we look forward to having nothing to do and to relaxing. But on a sabbatical or long trip, having something to do becomes more important. Believe it or not, it is possible to get bored while traveling. And if you are planning on staying in places for longer periods of time, the tourist sites and activities which may interest you will not be enough to keep you engaged.

h3 Importance of activities

p If you're taking a sabbatical overloading yourself with activities is counter-purpose. However, it's good to have an idea of or even make a list of activities which you can do in different locations to keep yourself happy. This ranges from seeing tourist sites to writing your memoirs to cooking to many other things.

h4 Vacation activities vs normal activities

p Chances are you already have an idea of things you'd like to see and do when you travel to your locations. For a long trip like this, it's important to have things to do that are not related to traveling and being a visitor. At first we packed our days with sites and activities from the guidebook, but we quickly realized the importance of down time and of doing more non-tourist things. This gave us comfort and rest from actively touring. Everyday activities can also make you feel like more of a local (or at least get you interacting with them).

h3 Overdoing tourist activities

p It is possible to want to do too many things but you will quickly realize it's too much to keep the same pace you'd have for traveling during a two-week vacation throughout a much longer sabbatical. And it can get expensive. Be aware of this so you don't wear yourself out.

h3 Some things to do

h4 Language

p Not only is a language class something educational and fun to do but it gives you the obvious benefit of being able to communicate better with locals. No matter where I've been, this has always been helpful and can make you more likely to engage with locals to have the kinds of experiences which are the reason why so many of us travel &ndash; the kinds of experiences that having a completely tourist-driven agenda is unlikely to bring you.

p If you are traveling to multiple places with different languages, you may want to consider taking multiple language classes and learning a lesser amount of several languages rather than learning one better. If you were at home, I would not suggest this. However, I think it is more useful to be able to speak a little of a variety of languages on your trip than to speak one well, unless you're visiting places with only one language. I'm sure there are people who would argue this point with me and that's fine &ndash; I'm sure you can make the best decision for yourself here.

h4 Volunteering/working

p Volunteering and working are ways to occupy your time. If you're on sabbatical it's quite likely you don't want to work and that's certainly acceptable, if not encouraged. However, if you have the opportunity to bartend or do something that's very different from your day job back home, you may enjoy the opportunity. It's quite likely this isn't possible for you traveling in a foreign country which is why I prefer volunteering.

p Finding volunteering opportunities isn't always possible when you're traveling but it can happen. It depends on what interests you and what you are willing to do to get the opportunity.

p The benefits of both working and volunteering, in addition to giving you something to do, are that they enable you to meet people and to possibly offset costs of your trip (at least you're not spending money if you're doing either).

h4 WWOOF

p 
  |Our volunteering came in the form of WWOOFing. 
  a(href="http://www.wwoof.net") WWOOF 
  | is an organization running in many countries which gets volunteer farm workers in touch with farms. It stands for many things but most recently, "World Wide Opportunities on Organic Farms." For your help on the farm, doing a variety of different tasks which vary based on each farm, you get room and board. I'm not going to go into detail about this organization here other than to note that it's a great way, if you're interested in farming/gardening, to offset your costs and keep you active.

h3 Exercise

p Maintaining an exercise routine while traveling is difficult, especially if your primary forms of exercise involve a team and/or special equipment. However, during travel, getting exercise is very important as it can keep you healthier and more active during your trip.

h4 Find something you can maintain

p Because you aren't likely to have access to every possible sporting/exercise facility while traveling, it's best to find some kind of exercise that you can do alone and that you can do without equipment, or with small and light equipment that you can carry with you (like a yoga mat).

p I'll leave you to figure out what's best for you but the two forms of exercise that come to mind and are possible while traveling are running and yoga. Depending on where you're going, you could add swimming to that list.


h2 Eating

p If during your daily life you have the somewhat bad habit of making the process of eating something that needs to be done quickly rather than making the process an enjoyable, unrushed experience you should expect to change that during your sabbatical. Except for travel days when you're moving from one location to another, there will rarley be a situation that requires you to hurry through eating. Therefore you should take your time and enjoy the experience that is eating. Spend a two-hour lunch sitting in a cafe watching the world go by. What else have you got to do?

h3 Eating at home

p I've already covered the financial reasons for eating at home but there are other reasons as well. I'm fairly sure for most people, eating out too frequently can get tiresome (financial issues aside). Eating at home, especially in a foreign country, is a more low-key experience than eating out and it allows you to keep control over what you eat. This is beneficial if you're the kind of person who explores with her/his stomach while traveling and tends to eat heartily. It's nice to throw in a night at home eating a light dinner once in a while so you don't overdo it. It's also nice to have a low-key meal that you can slide into your schedule without the hassle of worrying if the restaurants are open or how to read a foreign menu or how to keep the expenses down.

p Eating at home also allows you to have meals that are more similar to what you eat during your non-sabbatical life which can be beneficial in those times when you're either missing home, or just feeling a little exhausted from the traveling experience (it does happen believe it or not).

h3 Eating out

p Chances are a meal out will take up more time than a meal in and that's great for those times when you are feeling like your schedule is a little empty. You can have a leisurely three-hour meal which takes up your evening if you like. You have to make up for those times when you had to stay late at work and have a slice of pizza at your desk. Or when you had to eat leftovers out of a container standing near the fridge because you had more crucial matters to attend.

h4 Do your research

p I will not make the presumption that many of you are likely to do as much research and planning for eating out when you travel as I do. As I mentioned, for our trip to Italy in 2007 I spent many hours online doing research to find out what the truly good restaurants were in the cities we visited and I mapped out the restaurants in each city.

p Nonetheless I will point out that even a little research is beneficial and you don't have to spend hours and hours browsing the web or guidebooks. If, for example, you decide you'd like to go out one particular evening during your travels, you could spend 10-15 minutes looking online and find two or three good recommendations for places to eat. I understand this sounds a bit food nerdy but it has really rewarded us with some of the best dining out experiences we've had while traveling. The best dry pasta dishes (like the kind that comes in a box, not freshly made that day with eggs) that we had in Italy came from doing research online. My best experience getting a deli tour in Rome and tasting everything in the shop came from doing research online. So as you can tell, I'm a big fan of it.

p Another important benefit of researching online is learning what restaurants to avoid because either they are too touristy or they don't fit into your budget. Sometimes one or both of these qualities is obvious just by walking past the restaurant but not always. And it's generally best to avoid those overpriced and bland tourist-focused restaurants wherever you are.

p Before and during the trip, I'll make a google map and add restaurant markers (pinpoints) to it so that I can have ideas of where I want to go. It's really easy to do and if you know you're not going to have internet access and you've made a map ahead of time, you can either print it out or take a screenshot and save it to your phone (which is what I did).

h4 Where do locals eat?

p 
  | Finding this out usually requires a bit more effort than just looking at 
  a(href="http://slowtrav.com") slowtrav.com
  | or the New York Times restaurant lists to find out where you want to eat. Sometimes you can find this information online but other times it will require a bit more legwork. When you are traveling around just keep your eyes out for the kinds of people who you can trust enough to make a recommendation for a good local restaurant.

p If you're searching for someone to make a recommendation, try asking someone at a butcher shop or some other similar local food store. If you ask at the super touristy cookie store on the main plaza in town, you probably won't get a good recommendation. And don't ask anywhere that it's likely the answer will be sponsored by local businesses (you'll get mixed results asking at hotels). Search for the shops where the people who work there look like they've been working there for 40 years and have a good collection of locals who frequent the shop.


h2 Cooking

p If you have the money and the interest in eating out for the overwhelming majority of your meals while traveling, then you can skip this part. However, if you have an interest in cooking and/or you have a finite and not gigantic budget, you'll be wise to do some cooking on your trip.

h3 Benefits

p Obviously you'll save money eating at your temporary home during your trip &ndash; this is no different than when you aren't traveling. In fact, if you are American you'll find that buying good ingredients is usually cheaper abroad than in the United States. Regardless of where you are from, finding local ingredients and doing your own cooking can be interesting, fun and a good learning experience. And it will certainly make you appreciate your kitchen at home. Especially your knives.

p If you're a foodie, cooking while traveling gives you the opportunity to explore new ingredients, find and taste foreign ingredients in their native lands, and do a bit of experimentation, whether it's with your standard recipes or recipes from your temporary home. You have the opportunity to grow as a cook.

h3 Working with temporary kitchens

p Working in a temporary kitchen can be fun but it's often a bit of work and requires some thinking when you plan recipes and buy ingredients since it's very likely you will not have access to a fully-stocked kitchen. How a kitchen is stocked can be a great limiter on what you can cook since it's possible you won't have an oven or may have only one stove burner or will have a very small refrigerator.

p One thing you may want to carry with you if you plan to do a lot of cooking and already spend a lot of time in the kitchen is a good chef's knife. You can expect not to find good knives in any rental apartment. Just be aware of the ramifications of carrying a knife (no carryon).

h4 storage is limited

p It's possible you won't have storage (tupperware, etc) in your apartment so you should keep this in mind when cooking and if necessary, don't cook so much that you'll have leftovers.

p However, this gives you an opportunity to be creative and you'll learn to reuse containers you get during your stay to store leftovers. For example, my wife was buying individual yogurt containers for breakfast and we could have reused those for storing small amounts if we bought some aluminum foil or plastic wrap to cover them. You can also store leftovers in a glass or coffee cup. If you don't have aluminum foil or plastic wrap, just wrap the glass in a plastic bag you got when shopping. There's no reason to worry about being fancy &ndash; just find whatever works and go with it.


h3 Take advantage of local ingredients

p For anyone interested in food this is one of the great joys of traveling. If you're in Barcelona, drink a good Spanish wine (they're cheap) have some good Spanish tortilla and get some bread with tomato rubbed on it. If you're in France you should be eating baguettes. In Italy get a truly outstanding Parmeggiano or some fresh excellent olive oil. The standards, the things that are popular enough to have made it into restaurants in your home country, are things you should definitely try in their native country to see how they differ abroad.

p But more than that, visit the local markets and see what's fresh, buy it, prepare it and eat it. Try something new that you cannot get at home. There have been times when I've regretted this (andouillete, oh god) but plenty of times this has given us a taste of something wonderful and unknown.

p If you buy something fresh (to cook) and you don't know what to do with it, ask someone. That's always a great way to get a conversation going with a local and it might get you more that just a cooking suggestion. You might a suggestion of other ingredients to get that will go well with what you have or you may get a good wine suggestion. Or you might get a dinner invitation to a local's home &ndash; for me this is the Holy Grail.



h3 List of standard recipes

p One thing that is useful if you're cooking a lot is to create a list of recipes that are relatively simple that you can cook throughout your trip. There certainly will be times when you want to save some money and eat at home but you don't have a lot of energy for figuring out what to cook. You will want a set of recipes that can be cooked in kitchens that aren't fully stocked.

p Look for the standard recipes, the comfort food or the cooking that comes from poverty, in places you visit. These are the recipes that are often fairly simple to prepare and their ingredients will always be available in local markets and stores. For example, when in Spain we made Tortilla Espa&ntilde;ola fairly often as it's simple to make, good to eat, and the ingredients are cheap. In Italy pasta is an obvious choice and you can often get freshly made pasta at the market for a good price.

h4 Modifying this over time for ease, cost

p As your trip progresses you'll learn which recipes on your list need to be eliminated or modified based on the kinds of kitchens you have as well as what ingredients are available locally. You may also want to look for local standards that you can add to your list if the ingredients are always available and the recipes are pretty simple to prepare.


h2 Keeping in Touch

p How well or often you contact your friends and family back home will depend on your personality but it's certainly become a lot easier to keep in touch than it once was. Keeping contact with your family and friends can keep you informed of what's happening back at home but can also help you feel less homesick if you're the kind of person who's more susceptible to missing home. We Skyped with our parents more than we do at home &ndash; I don't think they even missed us.

h3 Via computer

p If you're going somewhere not too remote chances are you'll have access to the internet whenever you want it. Therefore you can keep in touch using email pretty easily. You can also use instant messaging and Skype to have live conversations for free.

p Many internet cafes abroad have computers set up with headsets so that you can make Skype calls very easily. (You see fewer net cafes these days thanks to mobile phone proliferation.) This is a great and affordable way to keep in touch with the people who's voices you really need to hear (or who really need to hear your voice). We didn't make Skype phone calls very often and in seven months we used probably 5-6 &euro; worth of Skype time. Get your parents or best friends to setup Skype accounts (if they don't already have them) and you can chat for free. In most places where we had internet access, it was fast enough that we were able to use Skype's video chat.

p Using these available methods you can keep in touch with your friends and family almost as well as you would in the states. In fact, you may contact them even more since everyone will be interested in knowing how your trip is going.


h2 Documenting Your Trip


h1 After

h2 Adjusting

h2 Organizing and processing your documentation



